/* project css file */

.tutorial {
    width: 600px;
    text-align: center;
    margin: auto;
}

figure.image {
    display: flex;
    justify-content: center;
    background-color: black;
}

figure .image img {
    width: 128px;
}

.notification {
    margin-top: 20px !important;
}

.results {
    max-height: 500px;
    overflow-y: scroll;
}

.title .icon {
    margin-left: 15px;
}

.hero {
    margin-bottom: 20px;
}

.forms {
    display: flex;
    justify-content: space-around;
}

.dropdown-item {
    display: flex !important;
    align-items: center;
    height: 60px;
}

.dropdown-item img {
    height: 50px;
    margin-right: 10px;
}

h1, h4 {
    font-weight: 900 !important;
    margin: 0em 0em 0.4em 0em !important;
}

h1 {
    font-size: 150% !important;
}

h4 {
    font-size: 120% !important;
}

#summary {
    margin-top: 0.7em;
}